
<footer class="border-top text-center py-3">
  <ul class="nav justify-content-center" style="color:red">

    <li class ="nav-item">  
      <a class="nav-link" href="{% url 'users:contact'%}">Письмо администраторам</a>
    </li> 
    <li class ="nav-item">  
      <a class="nav-link" href="{% url 'about:author'%}">Об авторе</a>
    </li> 
    <li class ="nav-item">  
      <a class="nav-link" href="{% url 'about:tech'%}">О технологиях проекта</a>
    </li> 
  </ul>
    <!-- тег span используется для добавления нужных стилей отдельным участкам текста --> 
    <p>© 2022 Copyright <span style="color:red">Ya</span>tube</p>    
</footer>
