{% extends 'base.html' %} 
{% load static %}


{% block title %}
  <title>Профиль {{ author.username }}</title>
{% endblock %}

{% block content%}
<div class="container py-5">
  <h1>{{ author.get_full_name }}</h1>
  <span> Всего постов автора: {{author.posts.count}}</span>
  <p>{%if author.last_login%} Был в сети {{ author.last_login }} {% endif %} </p>
  {% if author != user %}  
    {% if following %}
      <a
        class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' author.username %}" role="button"
      >
        Отписаться
      </a>
    {% else %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
          Подписаться
        </a>
    {% endif %}  
  {% endif %} 
  {% for post in page_obj  %}
  {% include 'includes/article.html' %}
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}
</div>
{% endblock %}
